[pytest]
disable_test_id_escaping_and_forfeit_all_rights_to_community_support = true
env =
    ENV = demo
    WEB_URL = https://demo.example.com
    BASE_URL = https://auth.example.com/protocol/openid-connect/auth
    REDIRECT_URL = https://demo.example.com/callback
    CLIENT_ID = your_client_id
    LANGUAGE = en-US
    ENV_NUM = 1
    VERSION = 131
    USERNAME = your_username
    PASSWORD = your_password
    SELENIUM_HUB = http://localhost:4444/wd/hub
